* {
    margin: 0;
    padding: 0;
    list-style-type: none;
}

body {
    background-color: #333;
    text-rendering: optimizeLegibility;
    background-image: url(./components/pexels-mihai-vlasceanu.png);
    background-attachment: fixed;
    background-repeat: no-repeat;
}

header {
    display: flex;
    justify-content: space-between;
    box-sizing: border-box;
    width: 100%;
    padding: 48px 36px 0;
}

header svg path {
    fill: #D9D9D9;
}

.cover-img {
    width: 90%;
    margin: 0 0 30px;
    display: block;
}

.cover {
    padding: 120px 36px 0;
    font-style: normal;
}

h2 {
    font-family: 'Termina', sans-serif;
    font-weight: 700;
    font-size: 21px;
    line-height: 1.45;
    letter-spacing: 0.035em;
    color: #E3E3E3;
    margin-bottom: 10px;
}

.cover p {
    margin-bottom: 35px;
    color: #C0BDBD;
}

p {
    font-family: 'Red Hat Display', sans-serif;
    font-weight: 400;
    font-size: 16px;
    line-height: 1.3;
    letter-spacing: 0.05em;
}

.form {
    background-color: rgba(112, 112, 112, 0.4);
    border-radius: 22px;
    padding: 25px 28px;
    width: calc(100vw - 72px);
    margin: 0 auto 20px;
    box-sizing: border-box;
}

.form input {
    width: 100%;
    padding: 24px;
    border-radius: 8px;
    box-sizing: border-box;
    font-family: 'Red Hat Display', sans-serif;
    font-size: 14px;
    margin-bottom: 20px;
    border: none;
}

.form input:focus-visible {
    outline: 2px solid #00F729;
}

.form p {
    color: #D9D9D9;
    font-size: 14px;
    margin-bottom: 20px;
}

.form input.submit {
    background: #131313;
    border: 0.5px solid #00F729;
    border-radius: 7px;
    color: #D9D9D9;
    font-family: 'Termina', sans-serif;
    font-weight: 600;
    font-size: 14px;
    margin-bottom: 0;
}

.evaluation {
    margin: 0 auto 55px;
    text-align: center;
}

.evaluation p {
    margin-bottom: 8px;
    font-family: 'Red Hat Display', sans-serif;
    color: #D9D9D9;
    font-size: 12px;
}

.evaluation p.small {
    font-size: 10px;
    margin: 0;
}

.evaluation .flex {
    display: flex;
    justify-content: center;
    margin-bottom: 8px;
}
.cursor-pointer {
    cursor: pointer;
    margin: 0 7px;
}

.cursor-pointer svg {
    width: 25px;
    height: 25px;
    stroke-width: 1px;
    stroke: #00F729;
}

.icons {
    text-align: center;
}

.icons h2 spam {
    color: #00F729;
}

.icons h2 {
    font-size: 18px;
    margin-bottom: 50px;
}

.icons .icons-container {
    display: flex;
    justify-content: center;
    align-items: flex-start;
    flex-wrap: wrap;
    margin: 0 auto 70px;
}

.icons .icons-container .icon {
    width: 40%;
    margin-bottom: 30px;
}

.icons .icons-container .icon svg {
    margin-bottom: 24px;
}

.icons .icons-container .icon p {
    font-family: 'Red Hat Display', sans-serif;
    font-size: 12px;
    color: #D9D9D9;
    line-height: 16px;
    text-align: center;
    max-width: 130px;
    margin: 0 auto;
}

.collapsible {
    margin-bottom: 80px;
}

.collapsible .header {
    color: #D9D9D9;
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: calc(100vw - 72px);
    margin: 0 auto 20px;
}

.collapsible .header h2 {
    margin-bottom: 0;
}

.collapsible .header .icon {
    font-size: 22px;
}

.collapsible .carrossel-function {
    margin: 0 auto;
    display: flex;
    justify-content: center;
}

.collapsible .carrossel-function button {
    background: none;
    border: 0;
    margin: 0 20px;
}

.card {
    border: 1px solid #D9D9D9;
    border-radius: 22px;
    padding: 34px;
    width: 98vw;
    margin: 0 auto 50px;
    box-sizing: border-box;
    color: #D9D9D9;
}

.card h2 {
    font-size: 21px;
    font-weight: 600;
    margin-bottom: 12px;
}

.card p {
    font-size: 14px;
    margin-bottom: 30px;
}

.card .class-number {
    display: flex;
    align-items: center;
    margin-bottom: 30px;
}

.card .class-number svg {
    margin-right: 24px;
}

.card .class-number p {
    margin-bottom: 0;
    font-size: 16px;
    color: #00F729;
}

.card .class-number p spam {
    color: #D9D9D9;
}

.card .classes {
    margin-left: 24px;
}

.card .classes li {
    list-style-type: decimal-leading-zero;
    font-weight: 700;
    font-size: 14px;
    letter-spacing: 0.05em;
    color: #00F729;
}

.card .classes .flex {
    display: flex;
    justify-content: space-between;
    font-weight: 400;
    font-size: 14px;
    color: #D9D9D9;
    padding-left: 20px;
}

.card .classes .flex p {
    margin-bottom: 15px;
    line-height: 1.35;
}

.card .classes .flex p:last-of-type {
    margin-left: 24px;
}

footer {
    display: flex;
    justify-content: center;
    margin: 0 0 56px;
}

footer svg {
    fill: #D9D9D9;
    height: 24px;
}