body {
    background-color: #333;
}

header {
    display: flex;
    justify-content: space-between;
    box-sizing: border-box;
    width: 100%;
    padding: 48px 36px 0;
}

header svg {
    fill: #FFF;
}