* {
    margin: 0;
    padding: 0;
    list-style-type: none;
}

body {
    background-color: #333;
}

header {
    display: flex;
    justify-content: space-between;
    box-sizing: border-box;
    width: 100%;
    padding: 48px 36px 0;
}

header svg path {
    fill: #FFF;
}

.cover-img {
    width: 80%;
    margin: 0 auto 30px;
    display: block;
}

.cover {
    padding: 120px 36px 0;
    font-style: normal;
}

.cover h2 {
    font-family: 'Termina', sans-serif;
    font-weight: 700;
    font-size: 21px;
    line-height: 1.45;
    letter-spacing: 0.035em;
    color: #E3E3E3;
    margin-bottom: 10px;
}

.cover p {
    margin-bottom: 35px;
    color: #C0BDBD;
}

p {
    font-family: 'Red Hat Display', sans-serif;
    font-weight: 400;
    font-size: 16px;
    line-height: 1.3;
    letter-spacing: 0.05em;
}

.form {
    background-color: rgba(112, 112, 112, 0.4);
    border-radius: 22px;
    padding: 25px 28px;
    width: calc(100vw - 72px);
    margin: 0 auto;
    box-sizing: border-box;
}

.form input {
    width: 100%;
    padding: 24px;
    border-radius: 8px;
    box-sizing: border-box;
    font-family: 'Red Hat Display', sans-serif;
    font-size: 14px;
    margin-bottom: 20px;
}

.form p {
    color: #FFF;
    font-size: 14px;
    margin-bottom: 20px;
}